.HotTours {   
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 0 60px;

        div {
            text-align: center;

            img {
                width: 100%;
            }

            h3 {
                margin: 20px 0;
            }

            p {
                line-height: 20px;
                font-size: .9rem;
            }
        }
    }
} 

@media (max-width: 1060px) {
    .HotTours {
        .container {
            padding: 0 30px;
            flex-wrap: wrap;
        }
    }
}


